{% extends 'ksc/basic.html' %}
{% block title %} KSC-Donate {% endblock %}

{% block css %} 
.col-md-6 h5,h6{
    font-size: 20px;
    margin:45px 0px 0px 65px;
    line-height: 0.7;
}
.txt {
    
    line-height: 1.5;
}
{% endblock %}
{% load static %}
{% block body %}
<div class = "container"> <!-- container start -->
<p class="mx-3 my-3" style="font-family: 'Poppins', sans-serif !important; margin:1px 1px; padding:2px; font-size: 20px; "> 
    <h2>Donation</h2>
    <h5  class="txt" style="font-size: 20px;">Karnali Sports Club (KSC), is a social, non-government, non-political, and non-profit organization, club started with a vision of developing marathon runners. Our office is located in the Jumla district. The club aims to develop Jumla at High altitude training center.
    <br/>Our organization is organizing events by generating income  Mill Grid and by a collective effort from different helping hands. <br/>
    <h5  class="txt" >If you want to help our club more events like JRUM, and many local marathons. Please help us by donating. The donation can be made via fonepay or bank transfer.
    </h5></h5>
</p>
<br>
<div class="row mx-3 my-5">
    <div class="col-md-6">

        <h5 style="font-weight:bold">Bank Details :: </h5>
            <h6>Bank Name: Shangri-la Development Bank Ltd.</h6>
            <h6>Bank Account Name: KARNALI KHELKUD CLUB</h6>
            <h6>Bank Account Number: 02800800365550000001</h6>
            <h6>Bank Branch: JUMLA</h6>
    </div>

    <div class="col-md-6">
        <center>
        <img src="{% static 'ksc/fonepay.webp' %}" alt="KarnaliSportsClub-FonePay" style="width:365px; height:510px; border-radius: 15px; box-shadow: 2px 2px 4px #000000;" > 
        </center>
    </div>
</div>
</div> <!--container end -->
{% endblock %}


