
{% extends 'ksc/basic.html' %}
{% block title %} KSC - Blog {% endblock%} 
{% load static %}
{% block css %}
<style>
   .btn1{
      width: auto ;
      height: 20px;
      color : red;
   }
</style>
{% endblock %}
{% block body %}
<div class="container"><!-- container Div start here -->

<div class="container">
   {% for post in evpost %}
   <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
           <strong class="d-inline-block mb-2 text-primary">{{post.eventCategory}}</strong>
           <h3 class="mb-0">{{post.eventName}}</h3>
           <div class="mb-1 text-muted">{{post.eventDateFrom}} - {{post.eventDateTo}}</div>
           <p class="card-text mb-auto">{{post.eventDesc1| truncatechars:500}}</p>
           <div class="my-2">
              <a href="/ksc/eventview/{{post.eventId}}" role="button" class="btn btn-primary">Continue reading</a>
           </div>
           
       </div>
       <div class="col-auto d-none d-lg-block">
          <a href="{{post.eventImg1.url}}" target="_blank"> <img src="/media/{{post.eventImg1}}" class="bd-placeholder-img" width="250" height="340" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label=">
               <rect width="100%" height="100%" fill="#55595c"></rect></a>
           
       </div>
       </div>

       {% endfor %}
   </div>
<!-- pagination Gallery start here-->
<nav aria-label = "Page navigation example">
    <ul class = "pagination justify-content-center pagination-lg ">
       <li class = "page-item">
          <a class = "page-link" href = "#">Previous</a>
       </li>
       <li class = "page-item">
          <a class = "page-link" href = "#">1</a>
       </li>
       <li class = "page-item">
          <a class = "page-link" href = "#">2</a>
       </li>
       <li class = "page-item">
          <a class = "page-link" href = "#">3</a>
       </li>
       <li class = "page-item">
          <a class = "page-link" href = "#">Next</a>
       </li>
    </ul>
 </nav>
<!-- pagination Gallery end here-->

</div> <!-- container Div end here -->
{% endblock %}