{% extends 'ksc/basic.html' %}
{% block css %}


  .col-md-3
  {
  display: inline-block;
  margin-left:-4px;
  }
  .carousel-indicators .active {
  background-color: blue;
    }
  .col-md-3 img{
  width:100%;
  height:auto;
  }

  .col-md-3 img{
    width: auto;
    height: 290px;
    }
   
  body .carousel-indicator li{
  background-color: blue;
  }
  body .carousel-indicators{
  bottom: -10px;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
  background-color: red;
  width: 25px;
  height: 35px;
  }
   body .no-padding{
   padding-left: 0,
   padding-right: 0;
   }
   iframe {
    box-shadow: 2px 2px 4px #000000; 
    border-radius: 15px ;
   }
 {% endblock %}

{% block body %}
{% load static %}
<!-- Image Slider starts from here -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="width: auto; height: 600px;">
      <img src="{% static 'ksc/slide.webp' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="width: auto; height: 600px;">
      <img src="{% static 'ksc/slide.webp' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="width: auto; height: 600px;">
      <img src="{% static 'ksc/slide.webp' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!-- Image Slider End here -->

<div class="container">
<div class="row  my-3 mx-3">
  <div class="col">
    <p  style="font-family: 'Poppins', sans-serif !important; "> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>



<!--carousel starts from here -->

  <h1 class='my-2 mx-2' style="font-family: 'Poppins', sans-serif !important; font-weight: bold;">Events...</h1>
<div id="demo" class="carousel slide my-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
     {% for i in range %}
    <li data-target="#demo" data-slide-to="{{i}}" ></li>
    {% endfor %}
  </ul>

  <!--Slideshow starts here -->
  <div class="container carousel-inner no-padding">
    <div class="carousel-item active">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src='/media/{{ImageSlider.0.Image}}'>
          <div class="card-body">
              <h5 class="card-title">{{ImageSlider.0.Image_Name|slice:"0:15"}}...</h5>
              <p class="card-text">{{ImageSlider.0.Image_Desc|slice:"0:25"}}...</p>
              <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
     </div>

     {% for i in ImageSlider|slice:"1:"%}
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src='/media/{{i.Image}}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.Image_Name|slice:"0:25"}}...</h5>
            <p class="card-text">{{i.Image_Desc|slice:"0:35"}}...</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
    </div><div class="carousel-item">
      {% endif %}

      {% endfor %}
  </div>
</div>
  <!-- left and right controls for the slide start -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 <!-- left and right controls for the slide end -->
</div>


<!-- Image Gallery starts here-->
<h1 style="font-family: 'Poppins', sans-serif !important; font-weight: bold; margin:1px 1px; padding:2px; " >Image Gallery</h1>
<div class="row " style="border: 1px solid #6c757d; border-radius: 5px ;">
    {% for res in ImgGall %}
    <div class="zoom col-sm-3">
        <a href="{{res.gallImg.url}}" data-lightbox="gallery"> 
        <img src="{{res.gallImg.url}}" alt="" title="" style="width:100%; height:290px; border : 1px solid rgb(0, 153, 205); border-radius: 5px ; margin:5px; padding:2px;"></a>

       <!--<h3>{{res.name}} <br/> </h3>  <hr style=" border-top: 1px dashed red;"/>-->
    </div>
    {% endfor %}
</div>
</div><br/> <br/>
<!-- Image Gallery end here-->
<div>
  <iframe width="100%" height="559" src="https://www.youtube.com/embed/50QCF4-XZjY" title="10K Time Trial on road in Jumla" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}

